body{
    background-color: turquoise;
}
img{
    border: 3px solid whitesmoke;
    border-radius: 15px 15px 0px 0px;
    width: 300px;
}
.img-container{
    background-color: whitesmoke;
    width: 300px;
    margin: 150px 600px;
    border-radius: 15px;
}

.icons{
    /* padding: 5px; */
    border-radius: 8px;
    background-color:aliceblue;
}

ul li{
    margin: 0px -1px;
}

a{
    margin-bottom: -15px;
    color:gray !important;
}

a:hover{
    color:#0d6efd !important;
}

.active{
    color:#0d6efd !important;
}
